@page "/playtest"
@using CardNightFever.Data;
@using CardNightFever.Shared;
@using Blazor.DragDrop.Core;
@using CardNightFever.Services
@inject DealerService Dealer

<h3>PlayTest</h3>

@if (_deck == null || Dealer.Players[0] == null || Dealer.Players[1] == null || Dealer.DiscardPile == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4>The deck</h4>
    @if (!_deck.IsEmpty)
    {
        <Dropzone Name="Deck" Class="row">
            @foreach (var card in _deck.Cards)
            {
                int identity = 0;
                <Draggable Name="@identity.ToString()">
                    <Card PlayingCard="@card" />
                </Draggable>
            }
        </Dropzone>
    }
    else
    {
        <button onclick="@CreateDeck(_deck)">Create Deck</button>
    }
    int playerNum = 1;
    string playerText = "player " + playerNum.ToString();
    foreach (PlayerHand p in Dealer.Players)
    {
        <h4>Player @playerNum</h4>
        @if (!p.IsEmpty)
        {
            <Dropzone Name="@playerText" Class="row">
                @foreach (var card in p.Cards)
                {
                    <Draggable Tag='card.Rank.ToString() + "_" + card.Suit.ToString()'>
                        <Card PlayingCard="@card" />
                    </Draggable>
                }
            </Dropzone>
        }
        else
        {
            <button onclick="@DrawFullHand(p)">@playerText Draw</button>
        }
        playerNum++;
    }
    <h4>Discard pile</h4>
    @if (Dealer.DiscardPile.Cards.Count != 0)
    {
        <Dropzone Name="Discard" Class="row">
            @foreach (var card in Dealer.DiscardPile.Cards)
            {
                <Draggable Tag='card.Rank.ToString() + "_" + card.Suit.ToString()'>
                    <Card PlayingCard="@card" />
                </Draggable>
            }
        </Dropzone>
    }
}

@code {
    private Deck _deck;
   
    protected override async Task OnInitializedAsync()
    {
        Dealer.NewTable(2);
        _deck = Dealer.Deck;  
    }

    protected async Task CreateDeck(Deck deck)
    {
        deck.CreateDeck();
        this.StateHasChanged(); // might not need this here
    }

    protected async Task DrawFullHand(PlayerHand player)
    {
        if (_deck.HasMin)
        {
            player.FillHand(_deck);
        }
        else
        {

        }
        this.StateHasChanged();
    }

    protected async Task DrawCard(PlayerHand player)
    {
        if (!_deck.IsEmpty)
        {
            player.DrawCard(_deck);
        }
        else
        {

        }
        this.StateHasChanged();
    }

    protected async Task Discard(PlayerHand player, int index)
    {
        if (!_deck.IsEmpty)
        {
            player.Discard(Dealer.DiscardPile, index);
        }
        else
        {

        }
        this.StateHasChanged();
    }

    protected async Task<int> GetScore(PlayerHand player)
    {
        return player.Score;
    }
}